# Ignore tensor files
*.pth
*.pt
*.ckpt

# Ignore specific directories
models/
checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
env/
venv/

# Ignore environment files
*.env
